.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	width: 27%;
	height: 500px;
	border-radius: 6px;
	backdrop-filter: blur(12px);
	background-color: rgba(255, 255, 255, 0.216);

	.city {
		margin-top: 15px;
		color: #fff;
		font-weight: 500;
		font-size: 30px;
	}

	.date {
		margin: 20px 0;
		color: #fff;
		font-weight: 500;
		font-size: 20px;
	}

	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;

		.temp span {
			color: #fff;
			font-weight: 500;
			font-size: 75px;
		}

		.desc {
			margin-top: 10px;
			color: #fff;
			font-weight: 500;
			font-size: 25px;
		}
	}
}
